# Node.js modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled source
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Coverage reports
coverage/

# Temporary files
*.tmp
*.temp

# npm package lock
package-lock.json
yarn.lock
