/* tokens.css */

/* Colors */
:root {
    --color-background-page: #f0f0f0;
    --color-text: #333333;
    --color-background-header: #4a90e2;
    --color-text-header: #ffffff;
    --color-link: #ff6347;
  }
  